<!doctype html>

<html>
  <head>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="js/app.js"></script>

      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="bower_components/bootswatch/slate/bootstrap.css">
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="css/styles.css"
  </head>
  <body ng-app="RaxTstTbl">
    <div class='container' ng-controller="MainTblCtrl">
        <form>
            <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="search body text" ng-model="searchBody">
            </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'id'; sortReverse = !sortReverse">id
                        <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'userId'; sortReverse = !sortReverse">userId
                        <span ng-show="sortType == 'userId' && sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'userId' && !sortReverse" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">title
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'body'; sortReverse = !sortReverse">body
                        <span ng-show="sortType == 'body' && sortReverse" class="fa fa-caret-up"></span>
                        <span ng-show="sortType == 'body' && !sortReverse" class="fa fa-caret-down"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in data_struct.data | orderBy:sortType:sortReverse | filter:searchBody">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.userId}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.body}}
                </td>
            </tr>
            </tbody>
        </table>
      </ul>
    </div>
  </body>
</html>